// Deny read/write access to all users under any conditions
service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{document=**} {
      allow create; // チャットの作成は可能
    }
  }
}
