// Deny read/write access to all users under any conditions
service cloud.firestore {
	function isMember(database, roomid, uid){
  	return exists(/databases/$(database)/documents/chats/$(roomid)/members/$(uid));
  }
  match /databases/{database}/documents {
    match /chats/{roomid} { // チャットルーム
      match /messages/{document=**} { // メッセージはメンバーのみ
        allow read: if isMember(database, roomid, request.auth.uid);
        allow write: if isMember(database, roomid, request.auth.uid);
      }
      match /members/{document=**} {  // メンバーの参照はメンバーのみ可能
        allow read: if isMember(database, roomid, request.auth.uid);
        //allow write;	//: if isMember(database, roomid, request.auth.uid);
      }

    }
  }
}
