/* リセット */
ol, ul {
  list-style: none;
}

.logo{
  width: 20%;
  min-width: 272px;
  padding: 8px;
}

.button{
  min-width: 300px;
  background-color: #26A69A !important;
  color: #FFF !important;
  font-weight: bold;
}

.min-button{
  min-width: 80px !important;
  background-color: #26A69A !important;
  color: #FFF !important;
  font-weight: bold;
}

.min-button__grey{
  background-color: #E4E4E4 !important;
}

.v-card {
  max-width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.v-list{
  padding: 10px;
  max-width: 620px;
  background-color: #FAFAFA !important;
  margin: 0 auto;
}

/* ステップの文言が消えてしまうのを無効化する */
@media only screen and (max-width: 959px){
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: block;
  }
}
